*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'Brush Script MT', cursive;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(images/background.jpg);
}


.dark{
    background-color: black !important;
    color:white !important;
    background-image:none !important;
}

.darkSubHeading
{
    color:white !important;
}

.darkHeading
{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.darkHeadingBox
{
    background-color: black !important;
    border-radius: 5px;
    box-shadow: 5px 10px #0fa,
      0 0 151px rgb(16, 21, 20) !important;
}

.modeColor{
    color:white !important;
}

.mode{
    color:black;
    font-size: 1.3rem;
    position: relative;
    bottom:300px;
    left:1300px;
}

.darkLastHeading
{
    background-color: black !important;
    color: #0fa;
}



.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.heading
{
    background-color: rgb(0, 150, 255);
    color:rgb(192, 192, 192);
}

.headingContent
{
    color:black;
    text-decoration: underline;
    text-decoration-color: rgb(192, 192, 192);
    position: relative;
    right:100px;
}

.subHeadingContent
{
    position: relative;
    right:100px;
}

h2{
    
    font-size: 10rem;
    position: relative;
    left:380px;
}

.subHeading
{
    margin: 40px 0 0 620px;
    padding-top: 15px;
    color:black;
    position: relative;
    right:100px;
}

.subsubHeading
{
    color:black;  
    position: relative;
    right:100px; 
}

.textCrypto{
    color:white;
}

h3{
    margin-left: 600px;
    font-size: 2rem;
    position: relative;
    bottom:40px;
}

.container{
    margin:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.container .coin-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 10px;
    margin: 100px;
}

.container .coin-price .logo{
    width: 70px;
    margin-right: 10px;
}
.container .coin-price .logo img{
    width: 100%;
}
.container .coin-price div{
    display: block;
}
.container .coin-price div h1{
    color:black;
    font-size: 20px;
}

.lastFont
{
    font-family: "Brush Script MT",cursive;
    margin-left: 470px;
    font-size: 3rem;
    position: relative;
    bottom:40px;
    right:100px;
}
